version: '3'
services:
  mongodb-sqb:
    image: mongo:latest
    environment:
      - MONGO_DATA_DIR=/data/db
      #- MONGO_LOG_DIR=/dev/null
    #volumes:
      #- ./data/db:/data/db
    ports:
      - 27017:27017
  web:
    build: .
    ports:
      - 8080:8080
    depends_on:
      - mongodb-sqb
    environment:
      - spring.data.mongodb.uri=${MONGODB_URI}